[Desktop Entry]
Name=FlashPrint
MimeType=model/stl;
Exec=FlashPrint %F
Icon=com.flashforge.FlashPrint
Type=Application
Terminal=false
Categories=Qt;Utility;
Keywords=3d;Model;Print;Slicer;FlashForge;Control;FDM;PLA;Plastic;
