[Desktop Entry]
GenericName=FlashPrint
Name=FlashForge 3D Printer Control Software
MimeType=model/stl;
Exec=FlashPrint
Icon=com.flashforge.FlashPrint
Type=Application
Terminal=false
Categories=Qt;Utility;
