[Desktop Entry]
Name=FlashPrint
MimeType=model/stl;text/x-gcode-gx;application/x-flashprint-project;
Exec=FlashPrint %F
Icon=com.flashforge.FlashPrint
Type=Application
Terminal=false
Categories=Qt;Graphics;Engineering;
Keywords=3d;Model;Print;Slicer;FlashForge;Control;FDM;PLA;Plastic;
PrefersNonDefaultGPU=true
